Analise Exploratoria

In [3]:
import pandas as pd 
import numpy as np

In [4]:
filmes = pd.read_csv('movies_metadata.csv', low_memory=False)
filmes.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
avaliacoes = pd.read_csv('ratings.csv', low_memory=False)
avaliacoes.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [6]:
#Selecionando somente as colunas nescessarias e as renomeando
filmes = filmes[['id','original_title','original_language','vote_count']]


filmes.rename(columns = {'id':'ID_FILME','original_title':'Titulo','original_language':'Linguagem','vote_count':'Qtd_avaliacoes'},inplace=True)

filmes.head()

  ID_FILME                       Titulo Linguagem  Qtd_avaliacoes
0      862                    Toy Story        en          5415.0
1     8844                      Jumanji        en          2413.0
2    15602             Grumpier Old Men        en            92.0
3    31357            Waiting to Exhale        en            34.0
4    11862  Father of the Bride Part II        en           173.0

In [6]:
avaliacoes = avaliacoes[['userId','movieId','rating']]

avaliacoes.rename(columns= {'userId': 'Id_Usuario','movieId':'ID_FILME','rating':'Avaliacao'}, inplace=True)

avaliacoes.head()

   Id_Usuario  ID_FILME  Avaliacao
0           1       110        1.0
1           1       147        4.5
2           1       858        5.0
3           1      1221        5.0
4           1      1246        5.0

In [7]:
#Verificando se hÃ¡ valores nulos
filmes.isna().sum()

ID_FILME           0
Titulo             0
Linguagem         11
Qtd_avaliacoes     6
dtype: int64

In [8]:
#Removendo os valores nulos para nÃ£o impactar no modelo porque sÃ£o poucos valores
filmes.dropna(inplace=True)
filmes.isna().sum()

ID_FILME          0
Titulo            0
Linguagem         0
Qtd_avaliacoes    0
dtype: int64

In [9]:
avaliacoes.isna().sum()

Id_Usuario    0
ID_FILME      0
Avaliacao     0
dtype: int64

In [10]:
#Gerando uma contagem de avaliaÃ§Ãµes por usuario e considerando usuarios que avaliaram mais de 999 vezes

avaliacoes['Id_Usuario'].value_counts()
qtd_avaliacoes = avaliacoes['Id_Usuario'].value_counts() >999
y = qtd_avaliacoes[qtd_avaliacoes].index
y.shape

(2509,)

In [11]:
#visualizando o tamanho do dataset "Avaiacoes"
avaliacoes.shape

(26024289, 3)

In [12]:
#Pegando os usuarios que avaliram mais de 999 vezes
avaliacoes =  avaliacoes[avaliacoes['Id_Usuario'].isin(y)]
avaliacoes.shape

(3844582, 3)

In [13]:
avaliacoes.head

<bound method NDFrame.head of           Id_Usuario  ID_FILME  Avaliacao
17291            229         1        3.0
17292            229         2        3.0
17293            229         4        2.0
17294            229         5        1.0
17295            229         7        2.0
...              ...       ...        ...
26023517      270887    171439        1.0
26023518      270887    171755        3.0
26023519      270887    173149        5.0
26023520      270887    173405        5.0
26023521      270887    174473        5.0

[3844582 rows x 3 columns]>

In [14]:
#gerando os filmes que tiveram mais de 999 avaliaÃ§Ãµes
filmes = filmes[filmes['Qtd_avaliacoes']>999]

In [15]:
#Agrupando e visualiando a quantidade de filmes pela linguagem
filmes_linguagem = filmes['Linguagem'].value_counts()
filmes_linguagem.head(20)

Linguagem
en    1100
fr       5
ja       5
it       3
ko       2
pt       1
de       1
es       1
cn       1
sv       1
id       1
Name: count, dtype: int64

In [16]:
filmes = filmes[filmes['Linguagem'] == 'en']
filmes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1100 entries, 0 to 44842
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_FILME        1100 non-null   object
 1   Titulo          1100 non-null   object
 2   Linguagem       1100 non-null   object
 3   Qtd_avaliacoes  1100 non-null   float64
dtypes: float64(1), object(3)
memory usage: 43.0+ KB

In [17]:
#Convertedo o Id_Filme para interiro
filmes['ID_FILME'] = filmes['ID_FILME'].astype(int)

In [18]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1100 entries, 0 to 44842
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID_FILME        1100 non-null   int64
 1   Titulo          1100 non-null   object
 2   Linguagem       1100 non-null   object
 3   Qtd_avaliacoes  1100 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 43.0+ KB

In [20]:
#Conectando os dataframes

avaliacoes_e_filmes = avaliacoes.merge(filmes, on='ID_FILME')
avaliacoes_e_filmes.head()

,Id_Usuario,ID_FILME,Avaliacao,Titulo,Linguagem,Qtd_avaliacoes
0,229,12,1.0,Finding Nemo,en,6292.0
1,229,70,3.0,Million Dollar Baby,en,2519.0
2,229,77,3.0,Memento,en,4168.0
3,229,85,3.0,Raiders of the Lost Ark,en,3949.0
4,229,106,4.0,Predator,en,2129.0

In [ ]:
#visualizando o dataframe unificado
avaliacoes_e_filmes.head(20)

,Id_Usuario,ID_FILME,Avaliacao,Titulo,Linguagem,Qtd_avaliacoes
0,229,12,1.0,Finding Nemo,en,6292.0
1,229,70,3.0,Million Dollar Baby,en,2519.0
2,229,77,3.0,Memento,en,4168.0
3,229,85,3.0,Raiders of the Lost Ark,en,3949.0
4,229,106,4.0,Predator,en,2129.0
5,229,141,1.0,Donnie Darko,en,3574.0
6,229,153,2.0,Lost in Translation,en,1943.0
7,229,161,3.0,Ocean's Eleven,en,3857.0
8,229,170,3.0,28 Days Later,en,1816.0
9,229,176,4.0,Saw,en,2255.0
10,229,180,2.0,Minority Report,en,2663.0
11,229,185,2.0,A Clockwork Orange,en,3432.0
12,229,196,3.0,Back to the Future Part III,en,2978.0
13,229,235,3.0,Stand by Me,en,1568.0
14,229,272,4.0,Batman Begins,en,7511.0
15,229,277,1.0,Underworld,en,2556.0
16,229,296,4.0,Terminator 3: Rise of the Machines,en,2177.0
17,229,322,4.0,Mystic River,en,1473.0
18,229,329,2.0,Jurassic Park,en,4956.0
19,229,345,4.0,Eyes Wide Shut,en,1266.0

In [26]:
#removendo valores duplicados do df e visualizando se tiveram alteraÃ§Ãµes na quantidade de registros
avaliacoes_e_filmes.drop_duplicates(['Id_Usuario','ID_FILME'],inplace=True)
avaliacoes_e_filmes.shape

(189882, 6)

In [27]:
#removendo a coluna ID filmes 
del avaliacoes_e_filmes['ID_FILME']

In [29]:
#fazendo uma pivot table para fazer com que cada usuario vire uma variavel com as respectivas notas
filmes_pivot = avaliacoes_e_filmes.pivot_table(columns=  'Id_Usuario',index = 'Titulo', values='Avaliacao')
filmes_pivot.head(20)

Id_Usuario,229,231,741,836,1104,1136,1243,1380,1652,1846,...,269632,269750,269913,270071,270123,270213,270237,270564,270654,270887
Titulo,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.5,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
12 Angry Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN
127 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.5,2.0,NaN,NaN,NaN,NaN
2 Fast 2 Furious,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001: A Space Odyssey,NaN,NaN,3.5,2.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN
27 Dresses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28 Days Later,3.0,NaN,2.0,3.0,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,2.5,3.0,NaN,NaN,3.0,NaN
28 Weeks Later,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,1.0,...,NaN,0.5,3.0,1.0,2.0,3.0,NaN,2.5,NaN,NaN
300,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.5,4.0,3.0,3.0,1.5,NaN
3:10 to Yuma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4: Rise of the Silver Surfer,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.5,NaN,1.0,NaN,NaN,NaN,NaN
50 First Dates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN,NaN,NaN
8 Mile,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,1.5,NaN,2.0,0.5,3.0,1.0,NaN,NaN,NaN
A Beautiful Mind,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Clockwork Orange,2.0,3.0,2.5,3.5,NaN,NaN,NaN,NaN,2.0,2.0,...,NaN,2.0,3.0,2.5,1.0,3.0,2.0,NaN,3.0,5.0
A Nightmare on Elm Street,3.0,2.5,3.0,1.5,4.0,3.0,5.0,3.0,4.0,4.0,...,4.0,3.0,3.0,3.5,3.0,4.0,3.0,2.5,3.0,5.0
A.I. Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AVP: Alien vs. Predator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ace Ventura: Pet Detective,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN,NaN

In [30]:
#tranformando os valores nulos para 0
filmes_pivot.fillna(0,inplace=True)
filmes_pivot.head()

Id_Usuario,229,231,741,836,1104,1136,1243,1380,1652,1846,...,269632,269750,269913,270071,270123,270213,270237,270564,270654,270887
Titulo,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.5,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0
127 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1408,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.5,2.0,0.0,0.0,0.0,0.0
2 Fast 2 Furious,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
#Importando o pacote csr_matrix do pacote scipy
#Metodo para criarmos uma matrix sparsa
from scipy.sparse import csr_matrix
filmes_sparse = csr_matrix(filmes_pivot)

In [34]:
#Importando o algoritmo KNN do Sckit Learn
from sklearn.neighbors import NearestNeighbors

In [35]:
#Criando e treinando o modelo
modelo = NearestNeighbors(algorithm='brute')
modelo.fit(filmes_sparse)

NearestNeighbors(algorithm='brute')

#PREVISÃ•ES DE FILMES

In [37]:
#127 Hours
distances,sugestions = modelo.kneighbors(filmes_pivot.filter(items=['127 Hours'],axis=0).values.reshape(1,-1))

for i in range(len(sugestions)):
    print(filmes_pivot.index[sugestions[i]])

Index(['127 Hours', 'American Hustle', 'The Expendables 2', 'Lord of War',
       'RED 2'],
      dtype='object', name='Titulo')